* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightskyblue;
}

#container {
    background-color: white;
    position: relative;
    width: 700px;
    margin: 1em auto;
    padding: 0.8em;
}

#img-novo-site {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 10;
}

#cabecalho {
    background-color: #0497f3;
    padding: 1em;
    position: relative;
}

#cabecalho img {
    width: 100px;
}

#cabecalho a {
    padding: 0.5em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 0.3em;
}

#cabecalho a:hover {
    background-color: white;
    color: #0497f3;
}

#principal {
    margin: 20px 0;
}

#conteudos h1{
    padding: 10px 0;
}

#conteudos p {
    padding: 0.5em 0;
}

#chat {
    background-color: violet;
    width: 150px;
    height: 200px;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    left: 0;
}

#chat h3 {
    padding: 10px 0;
}