* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightskyblue;
}

#container {
    background-color: white;
    position: relative;
    width: 900px;
    margin: 15px auto;
    padding: 15px;
}

#img-novo-site {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    z-index: 10;
}

#cabecalho {
    background-color: deepskyblue;
    position: relative;
}

#cabecalho img {
    width: 150px;
    padding: 20px;
}

#cabecalho a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#cabecalho a:hover {
    background-color: white;
    color: deepskyblue;
}

#principal {
    margin: 20px 0;
}

#conteudos h1{
    padding: 10px 0;
}

#chat {
    background-color: hotpink;
    width: 200px;
    padding: 20px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#chat h3 {
    padding: 10px 0;
}

#chat input {
    height: 50px;
}